header {
  position: relative;
  background-color: #f6f3ee;
  padding: 10px;
  margin: 10px;
  padding-top: 99px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-align: center;
}

.logo {
  max-width: 250px;
}

.css-box-shadow {
  background: #F8F8F8;
  border: solid #BDBDBD 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

nav>ul {
  display: inline-block;
  width: 100% list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

body {
  background-color: #f8f4f4;
  font-family: "open sans";
  font-size: 14px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #050404;
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.2em
}

ul,
ol {
  margin: 1em 0;
  padding-left: 40px
}

p,
figure {
  margin: 1em 0
}

a img {
  border: none
}

sup,
sub {
  line-height: 0
}


main {
  padding-top: 133px;
}



.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {}

header {
  text-align: unset;
  padding: 20px 0 13px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

.col-md-6 {
  width: 50%;
}

body {
  background-color: #f8f4f4;
  font-family: "open sans";
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #050404;
}

#hero span {
  display: block;
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}